    <!--This is a partial, 
    tiny snipets of code that can be used in other other codes-->
<li>
	{{name}}

	<button class="devourBtn" data-id="{{id}}" data-newBurger="{{devour}}">
		<!--uses Sleep to triger -->
		{{#if devour}}Devour iT!{{}}
	</button>
</li>
