
<h1>Burgers To Eat</h1>

<section class = "row">
  <div class="col-md-7 col-left">
          <table>
<h2>Burgers on the list</h2>
<ul>
<!--column from burger table-->
{{burger_name}}
<!--loop through burgers array for each burger-->
{{#each burgers}}
<!--column property-->
    {{#unless devoured}}

   {{> burgers-par devour=true}}
    {{/unless}}
  {{/each}}
</ul>
</div>
</table>  
<div class="col-md-7 col-left">
  <h2>Devoured Burgers</h2>

<!--loop through burgers array for each burger-->
{{#each burgers}}
<!--If it is devourved just display the burger name-->
{{#if devoured}}
<div> id = {{id}}.{{burger_name}} </div>


</div>
</section>

<h2>Add a Burger</h2>
    <form class="create-form">
        <div class="form-group">
            <label for="name"></label>
            <textarea id="name" name="burger-name" rows="2" cols="40" placeholder="What Burger Are You Thinking Of?"></textarea>
        </div>
        <button type="submit">Submut</button>
    </form>     
</div>
</div> <!--End of Conatiner-->

