body{
  
  background: linear-gradient(to right, #85D8CE, #085078); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }

  li {
    padding: 5px;
    margin: 5px;
    width: 50%;
    background: #faebd7;
  }
  
  .label {
    font-weight: bold;
  }
  
  .create-update-form {
    padding: 5px;
    margin: 5px;
    background: #faebd7;
    width: 50%;

  }
  
  .form-group {
    margin-bottom: 5px;
    width: 50%;
    background: #faebd7;;

  }

  #container{
    margin-left: 20%;
  }
  h1{    margin-left: 20%;


  }