body{
   background: linear-gradient(to top, #F9D423, #e65c00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-repeat: no-repeat;
}
.img {
 background-image: url(/views/images/burger.png)
}
  li {
    padding: 5px;
    margin: 5px;
    width: 50%;
  }
  
  .label {
    font-weight: bold;
  }
  
  .create-update-form {
    padding: 5px;
    margin: 5px;
    background: #faebd7;
    width: 50%;

  }
  
  .form-group {
    margin-bottom: 5px;
    width: 50%;

  }