<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" type="text/css" href="/public/assets/css/style.css">
 
<head>
	<meta charset="UTF-8">
		<title>Burgers</title>
	</head>
	<body>
		{{{ body }}}
	</body>
</html>
